<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surveyorama</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <header>
        <h1 class="page-title">
            <a href="/">Surveyorama</a>
        </h1>
        <div class="nav flex-row">
           {{#if loggedIn}}
            <a href="/dashboard" class="nav-item">Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login" class="nav-item">Login/Signup</a>
            {{/if}}
        </div>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        Created with ♡ by Team Zues
    </footer>
</body>
</html>