        <div class="container flex-row">
            <div class="dash col-8 flex-column justify-flex-start">
                <div>
                    <h1>My Dashboard</h1>
                    <h3>Hello <span>{{user.username}}</span></h3>
                </div>
                <div>
                    <button class="btn">Create Survey</button>
                </div>
            </div>
    
            <div class="my-surveys col-4">
                <h3>My Surveys</h3>
                <ol>
                    {{#if surveys.length}}
                    {{#each surveys}}
                    <li>
                        <h5>
                            <a href="{{surveys.url}}">surveys.title</a>
                        </h5>
                        <p>Created On: <span>surveys.created_at</span></p>
                        <p>Status:<span>surveys.status</span></p>
                    </li>
                    {{/each}}
                    {{/if}}
                </ol>
            </div>
        </div>
    </main>