<div class="container flex-row">
    <section class="main flex-column">
        <div>
            <h1>{{survey.title}}</h1>
        </div>
        <div>
            <button class="btn">Start Survey</button>
        </div>
    </section>
</div>